/* Global Backgrounds, Colors and Widths */
* { 
    box-sizing:border-box;
}
body {
    font-size:16px;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
} 

header, nav ul, #content-wrapper {
    width:90%; 
    max-width:1200px;
    margin-left: auto;
    margin-right:auto;
}

a {
    color: #008000;
}

/* Logo*/
header img {
    position: absolute;
    top: 0;
    left: 0;
}

header{
    position: relative;
}

header h1, nav ul {
    padding-left:50px;
}

/* Nav */
nav{
    background-color:#008000;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #e7ffe7;
    color: #008000;
}

/* Home Page Main Image */
main article img {
    border: double 3px #333;
    float:left;
    margin-top: .5rem; 
    margin-right: 1rem;
    margin-bottom: .5rem;
}

/* Home Page Bottom Columns */
main section {display: flex;
             justify-content: space-between;
}

main section div {
    background-color:#e7ffe7;
    border:solid 1px #008000;
    flex: 1;
    margin-right: 1rem;
    text-align: center;
}

main section div:last-child{margin-right: 0;}

main section div h2 {
    background-color:#008000;
    color:#white;
    margin-top: 0;
}

main section div {border-radius: 10px 10px 0 0;}

main section div img {
    border: 3px double #333;
    display: block;
    margin:.5rem auto;
}

#content-wrapper {
    display: flex;
}

#content-wrapper aside {
    background-color: #ccc;
    margin-right: 1rem;
    padding: .5rem;
    position: relative;
    top: 20px;
    flex: 1;
    order: 1;
}
 #content-wrapper main {
     flex: 4;
     order: 2;
 }

aside section {
    background-color: white;
    border: 1px solid #008000;
    margin-bottom: 1rem;
    padding: .5rem;
}
aside h3{
    background-color: #008000;
    color: white;
    padding: .5rem;
    margin: 0;
}
    
aside a {
    display: inline-block;
    padding: .5rem 0;
}







